@model PracticoA.Models.Modelo


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-primary-d3" id="exampleModalLabel">
                Gestión Modelo
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <form method="post" action="/Modelos/SaveModelo">
            <div class="modal-body">
                @Html.HiddenFor(model=> model.id_modelo)
                <div class="form-group row">
                    <label class="control-label col-md-2">Modelo:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.modelo1, new { htmlAttributes = new {@class = "form-control" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2">Marca:</label>
                    <div class="col-md-10">
                        @Html.DropDownList("id_marca", null, "Seleccione Marca", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">
                    Cerrar
                </button>

                <button type="submit" class="btn btn-primary" id="btnGuardar">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#btnGuardar').click(function (e) {
        let error = '';
        if ($('#modelo1').val().trim() == '')
            error = 'Debe ingresar un modelo \n';
        if ($('#id_marca').val() == '')
            error += 'Debe seleccionar una marca';
        if (error != '') {
            swal('Error de validación', error,'error');
            //evita que el formularia llame al controlador
            e.preventDefault();
        }

    });
</script>

